/* register */
.register {
    width: 100%;
    height: 85vh;
}

/* login */
.login {
    width: 100%;
    height: 85vh;
}

/* create post */
.create {
    width: 100%;
    height: 85vh;
}

/* edit post */
.edit {
    width: 100%;
    height: 85vh;
}